<app-header></app-header>


<mat-sidenav-container>
    <mat-sidenav mode="side" #sideNav class="z-10"  >
        <div>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>

        <div>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>

        <div>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-movie-list></app-movie-list>
    </mat-sidenav-content>
  </mat-sidenav-container>

<app-footer></app-footer>

