<mat-toolbar class="tool-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
      <mat-icon class="white-icon"><span class="material-symbols-outlined">
        arrow_back
        </span></mat-icon>
    </button>
    <span class="white-icon">Back</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="white-icon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon"> share</mat-icon>
    </button>
  </mat-toolbar>