<details-header></details-header>
<div class="form-container" >
    <form [formGroup]="movieForm" >
        <div class="grid sm:grid-cols-1 md:grid-cols-12  lg:grid-cols-12  xl:grid-cols-12 main-div gap-10">
            <div class="sm:col-span-1 md:col-span-12 lg:col-span-12  xl:col-span-12">
                <h4  class="white-font">Title</h4>
                <mat-form-field class="width-100" color="accent">  
                    <input matInput formControlName="title">
                    <mat-error *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched">{{getTitleError()}}</mat-error>
                  </mat-form-field>
                  
            </div>
            <div class="form-field">
                <h4  class="white-font">Director</h4>
            
                <mat-form-field class="width-100"  color="accent">
                    
                    <input matInput formControlName="director">
                    <mat-error *ngIf="movieForm.get('director')?.invalid && movieForm.get('director')?.touched">{{getDirectorError()}}</mat-error>
                  </mat-form-field>
                  
            </div>
            <div class="form-field">
                <h4  class="white-font">Writer </h4>
                <mat-form-field class="width-100"  color="accent">
                  
                    <input matInput formControlName="writer">
                    <mat-error *ngIf="movieForm.get('writer')?.invalid && movieForm.get('writer')?.touched">{{getWriterError()}}</mat-error>
                  </mat-form-field>
                  
            </div>
            <div class="form-field">
                <h4  class="white-font">Lead Actor</h4>
                <mat-form-field class="width-100">
                  
                    <input matInput formControlName="leadActor">
                    <mat-error *ngIf="movieForm.get('leadActor')?.invalid && movieForm.get('leadActor')?.touched">{{getLeadActorError()}}</mat-error>
                  </mat-form-field>
                 
            </div>
            <div class="form-field">
                <h4  class="white-font">Select Genre</h4>
                <mat-form-field class="width-100 form-input">
                  <mat-label>Genre</mat-label>
                  <mat-select formControlName="genre">
                    <mat-option *ngFor="let genre of genres" [value]="genre.name">
                      {{genre.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="movieForm.get('genre')?.invalid && movieForm.get('genre')?.touched">Genre is required</mat-error>
                </mat-form-field>
                
            </div>

            <div class="sm:col-span-1 md:col-span-12 lg:col-span-12  xl:col-span-12">
              <h4  class="white-font">Description</h4>
              <ckeditor class="w-full" [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)" formControlName="description"></ckeditor>
              <mat-error *ngIf="movieForm.get('description')?.invalid && movieForm.get('description')?.touched">{{getEditorError()}}</mat-error>
          </div>    
          <div class="form-field">
            <h4  class="white-font">Budget</h4>
            <mat-form-field class="width-100">
                <input matInput formControlName="budget">
                <mat-error *ngIf="movieForm.get('budget')?.invalid && movieForm.get('budget')?.touched">{{getBoxOfficeError("budget")}}</mat-error>
              </mat-form-field>
              
              
        </div>
        <div class="form-field">
          <h4  class="white-font">Gross India</h4>
          <mat-form-field class="width-100">
              <input matInput formControlName="grossIndia">
              <mat-error *ngIf="movieForm.get('grossIndia')?.invalid && movieForm.get('grossIndia')?.touched">{{getBoxOfficeError("grossIndia")}}</mat-error>
            </mat-form-field>
      </div>
      <div class="form-field">
        <h4  class="white-font">Gross World</h4>
        <mat-form-field class="width-100">
            <input matInput formControlName="grossWorld">
            <mat-error *ngIf="movieForm.get('grossWorld')?.invalid && movieForm.get('grossWorld')?.touched">{{getBoxOfficeError("grossWorld")}}</mat-error>
          </mat-form-field>
    </div>
    <div class="form-field">
      <h4  class="white-font">Total Collection</h4>
      <mat-form-field class="width-100">
          <input matInput formControlName="total">
          <mat-error *ngIf="movieForm.get('total')?.invalid && movieForm.get('total')?.touched">{{getBoxOfficeError("total")}}</mat-error>
        </mat-form-field>
        
  </div> 

              
  <div class="sm:col-span-1 md:col-span-12 lg:col-span-12  xl:col-span-12">
    <input  type="file" #filePicker  (input)="onImagePicked($event)" formControlName="posterUrl">
    <mat-error *ngIf="movieForm.get('posterUrl')?.hasError('required') && invalidImg">Please Upload Valid Image</mat-error>
            </div>
            <div class="sm:col-span-1 md:col-span-12 lg:col-span-12  xl:col-span-12" [ngClass]="{'none':!movieForm.get('posterUrl')?.valid,'block':movieForm.get('posterUrl')?.valid}">
              <mat-icon class="white-font" (click)="removeImage()"> close</mat-icon>
             <img [src]="imagePath" class="previewImg" alt="">
                      </div>
  <div class="sm:col-span-1 md:col-span-12 lg:col-span-12  xl:col-span-12 submit-div">
    <button mat-button (click)="cancel()" class="white-font white-border">Cancel</button>
    <button mat-button  class="white-font" (click)="submit()"> Submit</button>
            </div>

        </div>

        
    </form>

</div>
