@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .form-field {
    @apply col-span-1 sm:col-span-1 md:col-span-12 lg:col-span-6 xl:col-span-6
 
}

.form-container{
  @apply p-3 sm:p-12;
  background-color: black;
}

.main-div{
  background-color: #353535 !important;
border-radius: 25px;
@apply p-3 pt-5 sm:p-12 sm:pt-12;
}
}



:host ::ng-deep .ck-editor__editable_inline {
    height: 300px !important; 
}

// :host ::ng-deep ck-sticky-panel__content{
//   width: 80vw !important;
// }




.width-100{
    width: 100% !important;

}



.white-font{
    color:white !important;
}
.submit-div{
  display: flex;
  justify-content: end;
}

.white-border{
  border: white;
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type=file]{
  color:white
}

.none{
display: none !important;
}

.block{
  display: block !important;
  }

  .previewImg{
    height: 100px;
    width: 70px ;
  }
  